root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
end_of_line = lf
indent_style = tab

[Dockerfile]
end_of_line = lf

[.env*]
end_of_line = lf

[*.yml]
indent_size = 2

[*.sh]
end_of_line = lf
indent_size = 2
